---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ProjectSummary from "@features/projects/components/ProjectSummary.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const projectEntries = await getCollection("projects");

  const paths = projectEntries.flatMap((category) =>
    category.data.projects.map((project) => ({
      params: {
        slug: project.slug,
      },
      props: project,
    }))
  );

  return paths;
}) satisfies GetStaticPaths;

const {
  title,
  description,
  stack,
  longDescription,
  url,
  startDate,
  endDate,
  image,
} = Astro.props;
---

<PageLayout meta={{ title: `${title} | Projects` }}>
  <h1 class="sr-only">{title}</h1>
  <ProjectSummary
    title={title}
    description={description}
    longDescription={longDescription}
    stack={stack}
    url={url}
    startDate={startDate}
    endDate={endDate}
    image={image}
  />
</PageLayout>
