---
import { Image } from "astro:assets";
import IconButton from "@components/IconButton.astro";
import Monogram from "./Monogram.astro";
import logo from "../images/logo.svg";
import { links } from "../lib/links";

interface Props {
  isRelative?: boolean;
}

const activeRoute = links.find((link) => link.href === Astro.url.pathname);
const { isRelative = false } = Astro.props;
---

<nav
  class="px-4 md:px-6 xl:px-8 fixed w-full top-4 z-20"
  class:list={{ relative: isRelative }}
>
  <div
    aria-label="Main"
    class="mx-auto container mt-4 border border-grey-11 rounded-lg z-40 flex flex-row bg-grey-1 items-center pl-10 pr-4 md:pr-6 xl:pr-8"
  >
    <a href="/" class="py-2" aria-label="Home">
      <Monogram />
    </a>
    <!-- Mobile nav button -->
    <IconButton
      id="show-mobile-nav"
      label="Open main menu"
      class="ml-auto md:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </IconButton>
    <!-- Desktop nav -->
    <ul class="hidden md:flex flex-row ml-auto">
      {
        links.map((link) => (
          <li>
            <a
              class="block px-1 xl:py-0.5 ml-6 xl:ml-8 hover:text-blue-light focus:bg-grey-4 rounded-lg duration-300"
              class:list={{
                "hover:text-blue-light": link.color === "blue",
                "hover:text-green-light": link.color === "green",
                "hover:text-yellow-light": link.color === "yellow",
                "underline underline-offset-4": activeRoute?.href === link.href,
              }}
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
<!-- Mobile nav -->
<dialog
  id="mobile-nav-container"
  class="p-4 h-full w-full top-0 bg-grey-1 text-grey-11 backdrop:bg-transparent"
>
  <div class="relative">
    <IconButton
      id="hide-mobile-nav"
      class="absolute right-0"
      label="Close main menu"
      autofocus
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </IconButton>
    <Image
      src={logo}
      alt="My logo"
      class="pt-12 px-4 w-[150px]"
      loading="eager"
      quality="max"
    />
    <ul class="text-2xl pt-12">
      <li>
        <a
          class="block py-6 px-4 w-full hover:bg-grey-4 focus:bg-grey-4 rounded-lg duration-300"
          href="/"
        >
          Home
        </a>
      </li>
      {
        links.map((link) => (
          <li>
            <a
              class="block py-6 px-4 w-full hover:bg-grey-4 focus:bg-grey-4 rounded-lg duration-300"
              href={link.href}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</dialog>

<style>
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  nav > div {
    background-image: url("/navBg.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    box-shadow: 4px 4px 0px theme(colors.grey.5);
  }

  nav li > a {
    text-shadow: 1px 1px 0px theme(colors.grey.5);
  }

  dialog {
    box-shadow: 0px 0px 0px 19px theme(colors.grey.1);
  }

  dialog[open] {
    animation: show theme(transitionDuration.300) ease normal;
  }

  dialog.closing {
    animation: hide theme(transitionDuration.300) ease normal;
  }

  @media (prefers-reduced-motion) {
    dialog[open] {
      animation: none;
    }

    dialog.closing {
      animation: none;
    }
  }
</style>

<script>
  const body = document.querySelector("body");
  const openMobileNav = document.getElementById("show-mobile-nav");
  const closeMobileNav = document.getElementById("hide-mobile-nav");
  const mobileNav = document.getElementById(
    "mobile-nav-container"
  ) as HTMLDialogElement;

  function showNav() {
    mobileNav.showModal();
    body?.classList.add("overflow-hidden");
  }

  function hideNav() {
    // Only fade mobile nav if motion-safe.
    const isReduced = window.matchMedia(
      `(prefers-reduced-motion: reduce)`
    ).matches;

    if (isReduced) {
      return mobileNav.close();
    }

    mobileNav.classList.add("closing"); // run animation here

    mobileNav.addEventListener(
      "animationend",
      () => {
        mobileNav.classList.remove("closing");
        mobileNav.close(); // then run the default close method
        body?.classList.remove("overflow-hidden");
      },
      { once: true }
    ); // add this to prevent bugs when reopening the modal
  }

  openMobileNav?.addEventListener("click", showNav);
  closeMobileNav?.addEventListener("click", hideNav);
</script>
