---
import Container from "@components/Container.astro";
import TextLink from "@components/TextLink.astro";
import type { ProjectSummary } from "../lib/types";
import ProjectCard from "./ProjectCard.astro";

interface CallToAction {
  text: string;
  url: string;
}

interface Props {
  title: string;
  introduction: string;
  cta?: CallToAction;
  projects: ProjectSummary[];
  color: "blue" | "red" | "yellow";
}

const { title, introduction, cta, projects, color } = Astro.props;
---

<Container>
  <h2 class="text-2xl md:text-4xl font-bold mb-4">
    <span
      class:list={{
        "text-blue-light": color === "blue",
        "text-red-light": color === "red",
        "text-yellow-light": color === "yellow",
      }}>{title}</span
    > projects
  </h2>
  <p class="mb-8 max-w-[90ch]">
    <span>{introduction}</span>
    {
      cta && (
        <>
          <TextLink as="a" href={cta.url} color={color} class="py-0">
            {cta.text}
          </TextLink>
          .
        </>
      )
    }
  </p>
  <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3">
    {projects.map((project) => <ProjectCard color={color} {...project} />)}
  </div>
</Container>

<style>
  h2 {
    text-shadow: 2px 2px 0px theme(colors.grey.5);
  }
</style>
